<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | message</title>
</head>
<body>
    <h1 align="center">Dashboard</h1>
    <h2><a href="/create">Create Message</a></h2>
   <!-- {{data}}-->
   <!--{% for x in data %}
        {{x}}<br>
    {% endfor %}-->
    <table border="1" align="center">
        <tr>
            <th>Sr.No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Message</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for x in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{x.name}}</td>
            <td>{{x.email}}</td>
            <td>{{x.mobile}}</td>
            <td>{{x.msg}}</td>
            <td><a href="/edit/{{x.id}}">Edit</a></td>
            <td><a href="/delete/{{x.id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>


</body>
</html>